.my-container {
  border: 1px solid red;
}

.my-row {
  border: 1px solid green;
}

.my-col {
  border: 1px solid blue;
  text-align: center;
}

#my-name-span {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  margin-right: 0;
}

#my-name {
  padding-left: 0;
  padding-right: 0;
}

.padding-0 {
  padding: 0;
}

@media screen and (min-width: 768px) {
  #my-name {
    text-align: left;
  }

  #my-nav {
    text-align: right;
  }
}
